*{
    margin: 0;
    padding: 0;
    /* background-color: rgb(7, 7, 51); */
}
.bi-trash{
    color: red;
}
.bi-pencil{
    color: blue;
}
.d-flex{
    display: flex;
    justify-content: center;
}
.m-px{
    margin: 5px;
}
.border{
    border: 0;
}
.logo img{
    width: 60px;
}

.navbar{
    background-color: #036eb6;
    position: relative;
}

a{
    margin: 5px;
    text-decoration: none;
   
}

.link-nav{
 padding: 20px;
  color: white;
}


.icon{
    width: 50px;
}

.container-search{
    margin-top: 50px;
    padding: 2px;
   /* background-color: gray; */
  
}
.item-search{
    border: 1px solid rgb(177, 174, 174);
    padding: 5px;
    border-radius: 5px;
    height: 30px;
}
.w-search{
     width: 340px;
}

.container-principal{
    margin-top: 50px;
    /* border:1px solid #ccc; */
    width: 400px;
    height: 400px;
}

.input-text{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    margin: 3px;
    padding: 10px;
}
.input-add{
    width: 320px;
    height: 35px;
    border: 0;
    border-radius: 5px;
    /* background-color: rgb(146, 201, 146); */
    color:white;
    background-color:#518ab1;
}

.input-add:hover{
    background-color:#1e91dd;
}

table{
    margin-top: 50px;
    font-size: large;
}
table th {
    border-bottom: 2px solid gray;
}

tr td{
    border-bottom: 2px solid gray;
    padding: 4px;
    margin:5px;
}

/* FIND */
.container-contact{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 50px auto;
}
.container-photo-cont{
    /* background-color: gray; */
    border-right: 1px solid #ccc;
    padding: 5xp;
    width: 70px;
    height: 70px;
    margin: 5px;
}
.p-cont{
    display:block;
    font-size: larger;
}
.cont-img{
    width: 60px;
}